<div class="home-container">
    <div class="option-box">
        <a href="summary-test" class="option-link">
            <h2>Kiểm tra tổng quan</h2>
        </a>
    </div>
    <div class="option-box">
        <a href="random-option" class="option-link">
            <h2>Kiểm tra ngẫu nhiên</h2>
        </a>
    </div>
</div>