<!DOCTYPE html>
<html>
<head>
    <title>Quiz App - 2212453</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
    <!-- Header -->
    <header>
        <h1>Ứng dụng web kiểm tra trắc nghiệm</h1>
    </header>

    {{{body}}}

    <footer>
        <p>Creator: Ngô Bá Tài</p>
    </footer>
    <script src="js/script.js"></script>
    </div>
</body>
</html>